# Ignore virtual environments
.venv/

# Bytecode and cache
__pycache__/
*.py[cod]
*.so

# Ignore PDFs and legal corpus text file
legaldata/raw/*
legaldata/final/*

# Ignore Gemma model files
model/models--google--gemma-2b-it/*

# Ignore vector database files
storage/*

# Ignore logs or user-specific settings
*.log
*.env
.DS_Store

# Ignore compiled files
*.exe
*.out
*.class

# Ignore Jupyter Notebooks if not needed
*.ipynb
